h1 {
    color: black;
  }
  
  body {
   
    overflow-x:hidden ;
  }
  
  #search[type=text] {
      width: 60%;
      height: 30px;
      margin-top: 25px;
  }
  /* 
  nav {
    width: 98%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #66ccff;
    padding: 15px;
    text-decoration: none;
    margin-top: 25px;
    font-size: 30px;
  } */
  
  nav a {
    text-decoration: none;
  }
  
  section {
    margin-top: 25px;
    
  }
  
  article {
    width: 70%;
    border: 1px solid black;
    background-color: #cccccc;
    padding: 15px;
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 22px
  }
  
  p {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    
  }
  
  
  #social{
    width: 50%;
    border: 1px solid gray;
    background-color: #363839;
    padding: 15px;
    margin: 25%;
    margin-top: 3%; 
    margin-bottom: 5%;
    font-size: 30px;
    
  }

  
  img {
      width: 100%;
      height: 100%;
      display: block;
  }
  
  header{
    padding: 0;
  }
  .card-privacy{
    height: 30rem;
    width: 100%;
  }
  .card-privacy img{
    object-fit: cover;
    object-position: center;
  }
  
