:root{
  --c : #3C3744;
  --c2 : #090C9B;
  --c3 : #3D52D5;
}

.f-holder{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.image-side{
width: 50%;
height: 100%;
 


}

.head{
  font-size: 10vw;
}
.logo{
  width: 120px;
}

#land{
  width: 100%;
  height: fit-content;

}
#land {
  background-color: #000000de;

}

.headers-holder{
  padding: 5em !important
}
.land-img{
  width: 90%;
  z-index: -1;
  position: absolute;
  top:3vh;
  transform: translateX(0);
}


.nav-link i {
  font-size: 5vh;
}

.starter{
  padding-top: 7em !important;
}
.nav-link{
  cursor: pointer !important;
  transition: 0.6s;
}
.nav-link:hover{
  transform: scale(1.2);
}

.card{
  width: 33vh;
  height: 50vh;
}

.card-img-top{
  width: 100%;
  height: 40%;
}

.si-img{
  width : 80% !important
}

.pcol{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.sideImgShop{
  width: 100%;
  height: 100%;
}

.footer-list{
  list-style: none;
}

.footer-item{
  padding: 1em 0;

}

.footer-link{
  text-decoration: none;
  color: white;
  font-size: 4vh;

}

footer{
  background-color: black;
}

footer .f-holder a{
  padding: 0 1em !important;
  font-size: 5vh;
  color: white;
}

footer a.btn-outline-light{
  border-radius: 100% !important;
}
.p-link{
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.counter-btn {
  font-size: 5vh;

}

.counter{
  align-items: center;
}
.counter-btn{
  margin: 0 1em;
}

.counter .btn:focus{
  box-shadow: none;
}
.stars i {
  color: black;
  font-size: 4vh;
}

#form5Example21{
  background-color: transparent;
}

 .img-pro{
  width: 20vh;
}
.bxs-trash-alt{
  font-size: 6vh;
}

.p-link:hover{
  box-shadow: 3px 3px 8px black,
                -3px -3px 8px black;
}
.load{
  width: 100%;
  height: 100vh;
}
.spinner {
  width: 57.6px;
  height: 57.6px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(0,0,0,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.9px solid #000000;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-28.8px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(28.8px);
}

@keyframes spinner-y0fdc1 {
  0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

.logo-holder{
  width: 100px !important;
}


.formbold-mb-5 {
  margin-bottom: 1px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
} 

.formbold-form-wrapper {
  margin: 0;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  
}
.formbold-btn:hover {
 background-color:#eee !important;
 color: black;
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 100%;
  }
}

.container .row #hh2{
  text-align: center;
  background-color: #ffffff !important;
  font-weight: bold !important;
    font-size: 7vh !important;
} 

.cart-review{
  border: 1px solid;
}
.checkout-info .form-label i{
  padding: 0 1em !important;
}

.added-msg{
  position: fixed;
  top: 50vh;
  right: 50vw;
  width: fit-content;
  height: fit-content;
  background-color: #000000;
  opacity: 0;
  animation: added 1s ;
  z-index: 5;
 
}
@keyframes added{
  from{
    opacity: 1;

  }
  to{
    opacity: 0;
    transform: translateY(-40px);
  }
}

.cart .bxs-trash-alt{
  cursor: pointer;
}

.cart-item{
  border-bottom: 2px solid #666;
}
.remove-btn{
  position: absolute;
  top: 2%;
  right: 1%;
}
.img-step{
  width: 60%;
}

.card{
  overflow: hidden !important;
}

.open-cart{
  display: none;
}
.rmv-msg{
  position: fixed;
  top: 50%;
  animation: removed 1s;
  opacity: 0;
}
@keyframes removed {
  from{
    opacity: 1;

  }
  to{
    opacity: 0;
    transform: translateX(40px);
  }
}

.link{
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.link:hover{
  color: #07074d;
  font-weight: 500;
}

.added-card{
  width: 50%;
  height: fit-content;
  position: fixed;
  background-color: #ffffff;
  top: 23%;
    border: #000000 2px solid;
    left: 25%;
  transition: 0.4s;
animation: showing 0.5s ;
}

.added-cart-icon{
  width: 20%;
}
@keyframes showing{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}



.card {
  position: relative;
  width: 250px;
  height: 250px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
    /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform .25s;
}

.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
  z-index: -1;
}

.card_title {
  color: #131313;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}

.card:hover .card_content {
  transform: translateY(0);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}















